.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .places {
    max-width: 90%;
}
}

@media all and (max-width: 320px) {
  .places {
    max-width: 100%;
}
}
