.places__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    place-self: flex-end;
    justify-self: start;
}

@media all and (max-width: 320px) {
  .places__title {
    justify-self: start;
    place-self: self-start;
    margin-bottom: 32px;
}
}

@media all and (max-width: 320px) {
  .places__title {
    margin-left: 5%;
}
}
