.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0px;
  max-width: 100%;
  place-self: flex-end;
  justify-self: start;
}

@media all and (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    place-self: auto;
  }
}

@media all and (max-width: 320px) {
  .places__title {
    margin-left: 5%;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 35px;
  }
}
