.lead {
  max-width: 77%;
  margin: 58px auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media all and (max-width: 1024px) {
  .lead {
    max-width: 90%;
  }
}

@media all and (max-width: 768px) {
  .lead {
    max-width: 100%;
    margin: 52px auto 0 auto;
  }
}

@media all and (max-width: 320px) {
  .lead {
    margin: 50px auto 0 auto;
  }
}
