.lead {
    max-width: 70%;
    margin: 56px auto 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media all and (max-width: 1024px) {
  .lead {
    max-width: 90%;
}
}

@media all and (max-width: 768px) {
  .lead {
    max-width: 100%;
}
}
