.cover__subtitle {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    max-height: 66px;
    bottom: 245px;
    margin: 0;
    padding: 0;
}