.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0 auto;
  padding: 0;
  align-items: center;
  max-width: 93%;
}

@media all and (max-width: 1024px) {
  .header {
    min-height: 52px;
    max-width: 92%;
  }
}

@media all and (max-width: 768px) {
  .header {
    max-width: 95%;
  }
}

@media all and (max-width: 320px) {
  .header {
    margin: 16px auto 0 auto;
    min-height: 42px;
    max-width: 90%;
  }
}
