.header__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.header__link:hover {
  opacity: 0.8;
  transition: opasity 0.5s;
}

@media all and (max-width: 320px) {
  .header__link {
    font-size: 21px;
  }
}
