.lead__track {
    position: absolute;
    z-index: 1;
    left: 2%;
    bottom: 26%;
    width: 96%;
    height: 22%;
}

@media all and (max-width: 768px) {
  .lead {
    bottom: 23%;
}
}

@media all and (max-width: 320px) {
  .lead {
    bottom: 21%;
}
}
