.intro {
  margin: 92px auto 0px auto;
  display: flex;
  flex-direction: column;
  max-width: 78%;
}

@media all and (max-width: 1024px) {
  .intro {
    max-width: 92%;
  }
}

@media all and (max-width: 768px) {
  .intro {
    margin: 88px auto 0px auto;
    max-width: 95%;
  }
}

@media all and (max-width: 320px) {
  .intro {
    max-width: 90%;
    margin: 64px auto 0px auto;
  }
}
