.cover {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 92px auto 0px auto;
    overflow: hidden;
    align-items: center;
    max-width: 90%;
}

@media all and (max-width: 1024px) {
  .cover {
    max-width: 100%;
}
}
