.cover {
  margin: 92px auto 0px auto;
  max-width: 93%;
  min-height: 740px;
  background: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

@media all and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media all and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 90px auto 0px auto;
  }
}

@media all and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 54px auto 0px auto;
  }
}
