.cover {
    margin: 92px auto 0px auto;
    max-width: 90%;
    min-height: 640px;
    background: url("../../images/cover-trains.jpg");
    background-size: 100%;
}

@media all and (max-width: 1024px) {
  .cover {
    max-width: 100%;
}
}
