.places__website {
  margin: 0;
  max-width: 100%;
  place-self: end;
  justify-self: start;
}

@media all and (max-width: 630px) {
  .places__website {
    place-self: start;
  }
}

@media all and (max-width: 320px) {
  .places__website {
    margin-left: 5%;
  }
}
